* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --deep-blue: #0079d3;
    --bright-orange: #ff4500;
    --gray-color: #dae0e6;
    --light-gray: #f6f7f8;
    --darker-gray: #8e9293;
}

body{
    background-color: var(--gray-color);
    position: relative;
}

header {
    height: 3rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

header .logo{
 height: 100%;
}

header .search{
    width: 50%;
    position: relative;
}

header .search i{
    position: absolute;
    left: 1rem;
    transform: translateY(50%);
    color: var(--darker-gray);
}

header .search input{
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    background-color: var(--light-gray);
    outline: 0;
    border: 0;
}

.log-in{
    display: flex;
    align-items: center;
}

.log-in > * {
    margin-right: 0.7rem;
}

.log-in button{
    padding: 0.4rem 2rem;
    border-radius: 20px;
    font-size: 1rem;
    border: 0;
    cursor: pointer;
}

.log-in button:nth-child(1){
    background-color: #fff;
    border: solid var(--deep-blue) 1.5px;
    color: var(--deep-blue);
}

.log-in button:nth-child(2){
    background-color: var(--deep-blue);
    border: solid var(--deep-blue) 1.5px;
    color: #fff;
}

.log-in button:hover{
    filter: brightness(1.2);
}

.log-in div{
    color: var(--darker-gray);
    font-size: 1.1rem;
    margin-left: 1.5rem;
}

header .user-info{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
    display: none;
}

header .user-info:hover{
    border: solid #b9bfc0 0.5px;
}

header .user-info img{
    height: 80%;
    margin-right: 0.5rem;
}

/* ==================== */

main {
    width: 60%;
    margin: 0 auto;
}

main .popular h3{
 margin-bottom: 0.5rem;
}

main .popular .list{
    background-color: #fff;
    display: flex;
    height: 3rem;
    padding: 0.5rem 1rem;
    align-items: center;
    border-radius: 5px;
    border: solid #b9bfc0 0.3px;
    margin-bottom: 1rem;
}

main .popular .list div {
    margin-right: 2rem;
    display: flex;
    color: var(--darker-gray);
    font-size: 1.3rem;
}

main .popular .list div:nth-child(1){
    color: var(--deep-blue);
}

main .popular .list div > *{
    margin-right: 0.5rem;
}

/* ================ */

.posts .post{
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.posts .post:hover{
    outline: solid var(--darker-gray) 1px;
    cursor: pointer;
}

.posts .post .user{
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.posts .post .user img{
    height: 100%;
}

.posts .post .user > * {
    margin-right: 0.5rem;
}

.posts .post .content{
    margin-bottom: 0.5rem;
}

.posts .post .content > *{
    margin-bottom: 0.5rem;
}

.posts .post .content img{
    width: 100%;
    height: 500px;
}

.posts .post .interactions{
    color: #737778;
    display: flex;
    font-size: 1.2rem;
}

.posts .post .interactions div{
    margin-right: 1rem;
}

/* ======= */
.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.forms .form{
    display: flex;
    height: 600px;
    width: 50%;
    background-color: #fff;
    align-items: center;
    position: relative;
}

.forms .form .fa-xmark{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: #737778;
    z-index: 5000;
}

.forms .form img{
    height: 100%;
    width: 20%;
}

.forms .form div{
    margin-left: 2rem;
    width: 90%;
}

.forms .form div h2{
    margin-bottom: 2rem;
}

.forms .form div input, button, .message{
    width: 50%;
    margin-bottom: 0.7rem;
    padding: 0.5rem 1rem;
}

.forms .form .message {
    color: red;
    display: none;
}

.forms .form button {
    background-color: #0079d3;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    border: 0;
    font-size: 1.2rem;
}

.forms .form a {
    color: var(--deep-blue);
    text-transform: uppercase;
    cursor: pointer;
}

.forms .sign-in{
    display: block;
}

.forms .sign-up{
    display: none;
}